@font-face {
    font-family: 'Product Sans';
    src: url('fonts/Product Sans Regular.ttf') format('ttf');
	src: url('fonts/Product Sans Bold.ttf') format('ttf');
  }
  *{
	font-family: "Product Sans Regular";
    margin: 0;
}	
body{
    color: black;
    background: url('img/fondo.jpg');
    background-size: cover;
    background-color: black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
#panel{
    color: rgb(255, 255, 255);
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    border-radius: 1em;
    
    margin-top: 4em;      /*Minimo, Ideal, Maximo*/
    margin-inline:clamp(0.25rem, 20vw, 40em);
    padding-inline:clamp(0.25rem, 5vw, 40em);
    padding-bottom: 4em;
    margin-bottom: 4em;
}
h1{
    font-size: 6em;
    padding-top: 0.75em;
    margin-bottom: 0.25em;
}
p{
    font-size: 2em;
}
#linkportfolio{
    text-align: center;
    color: #ffffff;
}
a{
    color: #ffffff;
}
@media (max-width: 850px) {
    #panel{
        color: aqua;
    }

}
